<form #frm="ngForm" (ngSubmit)="submit(frm)" autocomplete="off">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>{{action}} Autor</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText name="nome" ngModel [required]="true" [value]="item.nome">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" [label]="action"
              [disabled]="frm.invalid"></button>
      <button pButton label="Voltar"  routerLink="/autores"></button>
    </div>

  </div>
</form>
