<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Biblioteca de Livros</title>
</head>
<body>
<h1 layout:fragment="header">Biblioteca</h1>
<div layout:fragment="content" class="container">
    <div >
        <img th:src="@{/img/biblioteca.jpg}" src="../static/img/biblioteca.jpg" width="20%" />
    </div>
</div>
</body>
</html>