<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Biblioteca de livros</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/biblioteca.jpg}" src="../static/img/biblioteca.jpg" width="50px" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="brand" th:href="@{/livros}" href="#"> Livros </a></li>
            <li><a class="brand" th:href="@{/autores}" href="#"> Autores </a></li>
            <li><a class="brand" th:href="@{/usuarios}" href="#"> Usuários </a></li>
        </ul>
    </nav>
    <h1 layout:fragment="header">cabeçalho falso</h1>
    <div layout:fragment="content">content falso</div>
</div>

<!--  JQuery -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>

</body>
</html>