@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Projeto Biblioteca MVC";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: Thiago Silva Cerqueira</p>
<p>FIB Bauru - MBA Engenharia de Software</p>
