@{
    ViewData["Title"] = "Contatos";    
}
<h2>@ViewData["Title"]</h2>

<address>
    Thiago Silva Cerqueira<br />
    Rua Padre João 17030 <br />
    <abbr title="Fone">Fone / Whatsapp:</abbr>
    (14) 99892-0793
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:thiagoscerqueira@gmail.com">thiagoscerqueira@gmail.com</a><br />    
</address>
